<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/">ABOUT</a></li>
        <li><a href="/">SERVICES</a></li>
        <li><a href="/">CONTACT</a></li>
    </ul>
    <div class="login">
        <a href="/login">LOGIN</a>
    </div>

</nav>
<div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>