doctype html
html
  head
    title My Site - #{title}
    link(rel='stylesheet',href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    style 
        include ../static/style/style.css
    block scripts
      script(src='')
    block style
  body
    nav     
        ul 
            li #[a(href="/") HOME] 
            li #[a(href="/") ABOUT] 
            li #[a(href="/") SERVICES]
            li #[a(href="/") CONTACT US] 
        div.login 
            a(href="/login") LOGIN 
    block content
    block foot