extends base.pug 
block style 
    style 
        include ../static/style/homeStyle.css 
block scripts
      script(src='https://cdn.jsdelivr.net/npm/kute.js@2.2.2/dist/kute.min.js')
      script(src='../static/javascript/home.js') 

block content
    
    h1.textTrending  Trending ! ! ! 

    div.trending 
        //- i.fa-brands.fa-facebook
        div.t-box#t-box1
            h3 Best Leader 
            p MODI 
            p or 
            p RAHUL
            button.vote
                | VOTE

        div.t-box#t-box2
            h3 Best Leader 
            p MODI 
            p or 
            p RAHUL
            button.vote
                | VOTE
        div.t-box#t-box3
            h3 Best Leader 
            p MODI 
            p or 
            p RAHUL
            button.vote
                | VOTE
    
    div.resultHead
        div.resultwave 
            h1.textResult Results	
        img(src="../static/assets/result.png")
