<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <h1 class="textTrending">
                Trending ! ! !
            </h1>
            <div class="trending">
                <div class="t-box" id="t-box1">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
                <div class="t-box" id="t-box2">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
                <div class="t-box" id="t-box3">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
            </div>
            <i class="fa fa-chevron-right"></i>
            <div class="resultHead">
                <div class="resultwave">
                    <svg class="motion" id="visual" viewBox="0 0 1000 700" width="1400" height="500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                        <!-- <rect x="0" y="0" width="900" height="600" fill="#FFFFFF">
                        </rect> -->
                        <g transform="translate(457.4369728733266 337.6837271457224)">
                            <path id="blob1" d="M169.5 -134.1C213.8 -79.5 240 -9.4 222.5 44.2C205.1 97.9 144 135 88.8 147.4C33.6 159.8 -15.8 147.5 -78.3 129.9C-140.9 112.4 -216.7 89.6 -237 42.2C-257.3 -5.2 -222.1 -77.1 -173.3 -132.7C-124.6 -188.3 -62.3 -227.7 0.1 -227.8C62.5 -227.9 125.1 -188.8 169.5 -134.1" fill="#31607A">
                            </path>
                        </g>
                        <g transform="translate(503.83883803497565 292.60273966145144)" style="visibility:hidden" >
                            <path id="blob2"  d="M117.2 -100.5C142.8 -61.5 147.9 -13.3 135.8 27.5C123.7 68.3 94.4 101.7 48.7 138C2.9 174.2 -59.3 213.2 -115.6 201.1C-172 188.9 -222.5 125.6 -241.3 52.4C-260.2 -20.8 -247.4 -103.9 -201.9 -147.5C-156.4 -191 -78.2 -195 -16.2 -182.1C45.9 -169.2 91.7 -139.5 117.2 -100.5" fill="#31607A">
                            </path>
                        </g>
                    </svg> 
                    <h1 class="textResult">Results</h1>
                </div>
                <img src="../static/assets/result.png" alt="">
            </div>
            <div class="finalresult">
                <div class="r-box" id="r-box1"></div>
                <div class="r-box" id="r-box2"></div>
                <div class="r-box" id="r-box3"></div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.2/dist/kute.min.js"></script>
            <script src="../static/javascript/home.js"></script>
    </body>

</html>