<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body class="background">
        <%- include("./partials/nav.ejs") %>

            <h1 class="textTrending">
                Trending ! ! !
            </h1>
            <div class="trending">
                <div class="t-box" id="t-box1">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
                <div class="t-box" id="t-box2">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
                <div class="t-box" id="t-box3">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
            </div>
            <i class="fa fa-chevron-right"></i>
            <div class="votingimg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Explicabo ipsa aperiam nulla similique mollitia cumque fuga laudantium dignissimos vel <br> iure. Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Nisi, enim!</p>
                <img  src="../static/assets/votingimage.svg" alt="">
            </div>
            <div class="resultwave">
                <div class="textResult">
                    <h1>Results</h1>
                </div>
                <div class="finalresult">

                    <div class="r-box" id="r-box1"></div>
                    <div class="r-box" id="r-box2"></div>
                    <div class="r-box" id="r-box3"></div>
                </div>
                <i class="fa fa-chevron-right" id="right2"></i>
            </div>
        <h1 class="textElection">START THE ELECTION</h1>
        <div class="electionform">
            <div class="formbox">
                <form action="">
                    <input type="text" class="input1" name="Name of Election" placeholder="Name of Election">
                    <input type="number" class="input1" name="No. of Candidates" placeholder="No. of Candidates">
                    <input type="text" class="input1" name="Name of Candidate" placeholder="Name of Candidate">
                    <input type="text" class="input1" name="Duration" placeholder="Duration">
               </form>
            </div>
            <div class="election-btn">
               <button class="elec-btn">LET THE ELECTION BEGIN!</button>
            </div>
         </div>
           
    </body>

</html>