<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <h1 class="textTrending">
                Trending ! ! !
            </h1>
            <div class="trending">
                <div class="t-box" id="t-box1">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
                <div class="t-box" id="t-box2">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
                <div class="t-box" id="t-box3">
                    <h3>Best Leader </h3>
                    <p>MODI </p>
                    <p>or</p>
                    <p>RAHUL</p>
                    <button class="vote">
                        VOTE
                    </button>
                </div>
            </div>
            <i class="fa fa-chevron-right"></i>
            <div class="resultHead">
                <div class="resultwave">
                    <h1 class="textResult">Results</h1>
                </div>
                <img src="../static/assets/result.png" alt="">
            </div>
            <div class="finalresult">
                <div class="r-box" id="r-box1"></div>
                <div class="r-box" id="r-box2"></div>
                <div class="r-box" id="r-box3"></div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.2/dist/kute.min.js"></script>
            <script src="../static/javascript/home.js"></script>
    </body>

</html>