doctype html 
    html 
        head 
            title Voting System 
        
        body 
            nav     
                ul 
                    li #[a(href="/") HOME] 
                    li #[a(href="/") ABOUT] 
                    li #[a(href="/") SERVICES]
                    li #[a(href="/") CONTACT US] 
                button 
                    | LOGIN 
                    