.textTrending {
  text-align: center;
  color: #31607a;
  font-size: 2.5rem;
  text-shadow: 1px 1px grey;
}
.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 75px;
}
.t-box {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #31607a;
  border-radius: 20px;
  box-shadow: 10px 10px 12px 5px #31607a;
}
.t-box:hover{
  height:251px;
  width:251px;
  background-color: whitesmoke;

}
.t-box h3 {
  font-size: 1.25rem;
}
.t-box p {
  font-size: 1.25rem;
}
.t-box button {
  text-shadow: 2px 2px black;

  width: 25%;
  height: 15%;
  font-size: 1.25rem;
  background-color: #31607a;
  color: white;
  border-radius: 5px;
  border: 1px solid #31607a;
  box-shadow: 5px 5px 15px 2px #31607a;
}
.t-box button:hover {
  cursor: pointer;
  width: 26%;
  height: 16%;
}
.textResult {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 200px;
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  left: 40%;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px black;
}
.fa-chevron-right{
  font-weight: bolder;
  font-size: xx-large;
  color:#31607a;
  position: absolute;
  right:80px;
  top:530px;
}

.resultHead {
  display: flex;

  /* justify-content: space-between; */
}
.resultHead img {
  width: 60%;
  margin-top: 100px;
  height: 400px;
  /* box-shadow: 0px 0px 15px 2px grey; */
}
.resultwave {
  margin-top: 50px;
  z-index: -1;
  position: relative;
  /* border: 2px solid red; */
  height: 500px;
  width: 100%;
  background: url("../assets/resultbubble.svg") no-repeat center
    center/cover;
  /* background-repeat: no-repeat, repeat; */
  left: 0px;
  animation: shift infinite;
  animation-duration: 2s;
}
@keyframes shift {
  0% {
    left: 0%;
  }

  50% {
    left: 10%;
  }

  100% {
    left: 0%;
  }
}
.finalresult {
  height: 300px;
  position: relative;
  display: flex;
  border-radius: 100px;
  flex-wrap: wrap;
  /* z-index: -1; */
  background-color: #31607a;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7px;
  /* margin-top: 10px; */
  /* border: 2px solid black; */
  /* margin-bottom: 40px; */
}
.r-box {
  height: 150px;
  width: 200px;
  /* display: flex; */
  background-color: white;
  /* flex-direction: column;
    justify-content: space-around;
    align-items: center; */
  /* border: 1px solid white; */
  border-radius: 20px;
  box-shadow: 10px 10px 14px 2px #4e4b4b;
}

#resultup {
  margin: 0;
  /* height: 120px; */
  transform: scale(-1);
}
