@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;

}
nav{
    top: 0px;
    left: 0px;
    /* position: absolute; */
    width: 100%;
    overflow: hidden;
    height:150px;
    background-image: url('../static/assets/navwave.svg');
    display: flex;
    color: white;
    font-size: 1.25rem;
    justify-content: space-between;
}
nav ul{
    margin-top: 40px;
    margin-left: 90px;
    display: flex;
}
nav ul li{
    padding: 0px 20px;
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}
nav ul li a:hover{
    font-weight: bolder;

}
.login{
    margin-top: 40px;
    width: 100px;
    height: 5vh;
    margin-right: 30px;
}
.login:hover{
    cursor: pointer;
    font-weight: bolder;
}